body{
    max-width: 1024px;
    margin: 0 auto;
    line-height: 1.5rem;
}

p,
li{
    margin-left: 5%;
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 36px;
    padding: 20px;
    margin: 0;
}
img{
   margin: 20px;
    border: 2px solid grey;
}

.flex{
    display: flex;
}

.flex p{
    margin: 0 10%;
    align-self: center;
    font-size: 20px;
 
}

li{
    list-style-type: circle;
}

a{
    text-decoration: none;
    color:rgb(85, 83, 83);
}

p a{
color:black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

footer strong{
    font-size: 24px;
   margin: 30px;
  
}

